:root{
    --background-color: #050303;
    --primary-color: #181818 ;
    --pink-color: #ef2d56 ;
    --secondary-color: #404048;
    --text-color: #bfc0c0;
}


html{
    scroll-behavior: smooth;
}
.grid-cols-responsive {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

.container{
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 475px) {
    /* Styles for small screens and up */
    .container {
        max-width: 475px;
        margin-left: 2rem;
        margin-right: 2rem;
      }
}

@media (min-width: 640px) {
/* Styles for medium screens and up */
    .container {
        max-width: 640px;
    }
}

@media (min-width: 1024px) {
/* Styles for large screens and up */
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
/* Styles for extra-large screens and up */
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
/* Styles for 2x extra-large screens and up */
    .container {
        max-width: 1536px;
    }
}
